<h2>Welcome to CSE Motors!</h2>
<picture>
    <source srcset="../public/images/vehicles/delorean-tn.jpg" media="(max-width: 500px)">
    <source srcset="../public/images/vehicles/delorean.jpg" media="(min-width: 501px)">
    <img src="../public/images/vehicles/delorean.jpg" alt="hero vehicle" id="hero">
</picture>
<aside>
    <h3>DMC Delorean</h3>
    <p>3 Cup Holders</p>
    <p>Superman Doors</p>
    <p>Fuzzy Dice!</p>
    <button>Own Today</button>
</aside>
<div>
    <section>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section>
        <h2>Delorean Upgrades</h2>
        <figure>
            <img src="../public/images/upgrades/flux-cap.png" alt="flux capacitor">
            <figcaption><a href="#">Flux Capacitor</a></figcaption>
        </figure>
        <figure>
            <img src="../public/images/upgrades/flame.jpg" alt="flame decals">
            <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
        <figure>
            <img src="../public/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
            <figcaption><a href="#">Bumper Stickers</a></figcaption>
        </figure>
        <figure>
            <img src="../public/images/upgrades/hub-cap.jpg" alt="hub caps">
            <figcaption><a href="#">Hub Caps</a></figcaption>
        </figure>
    </section>
</div>